
#green-button {
    background-color: green;
    border: 2px solid black;
    
    
}

#red-button {
    background-color: red;
    border: 2px solid black;
}

#yellow-button {
    background-color: yellow;
    border: 2px solid black;
}

#blue-button {
    background-color: blue;
    border: 2px solid black;
}

.game-btns {
    
    width: 20vh;
    height: 20vh;
    max-height: 20vh;
    max-width: 20vh;
    margin: 3px;
}

